# Bağımlılıklar
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Dizin ve Dosya Oluşturma
/build
/dist
/.next/
/out/

# Ortam Değişkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hata Günlükleri
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editör Dosyaları
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test Kapsamı
/coverage

# Diğer
.vercel
.turbo
.cache